
/*Globals*/
*{
	padding:0;
	margin:0;
	font-size:62.5%;
	font-family:Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
body{
	
	background-color:#DBD3C9;

}

.container{ /*site container*/

	width:90%;
	margin:auto;
	overflow: hidden;
}

/*Globals-en*/

header{
	
	background-color:#009688;
	color:#ffffff;
	padding-right:0px ;
	min-height: 50px

}

header h2{
	float:left;
	font-size:2.5rem;
	margin-top:11px;

}

nav{
	float:right;
	margin-top:15px;
}

header ul{
	margin:0px;
	padding:0px;

}

header li{
	display:inline;
	padding:0px 15px 0px 15px;
	margin:0;
	float:left; /*used to kill the retarded fucking padding that just doesnt go away, then we float right on nav*/
}

header a{

	text-decoration: none;
	text-transform: uppercase;
	font-weight:bold;
	font-size:2rem;
	color:white;
}

/*Globals-en*/


/*showcase*/

#showcase{
	min-height:550px;
	background-image:url("img/showcase-1.jpeg") ;
	color:#ffffff;
	position:relative;

}

#showcase h1{

	position:absolute;
	text-align:center;
	font-size:5rem;
	top:50%;
	left:50%;
	transform:translateX(-50%);
	width:60%;
	font-family:sans-serif;
}


/*showcase-en*/

#magazine{
	height:65px;
	background-color:#009688;
}
#magazine form{
	float:right;
	padding:0;
	margin-top:15px;

}
#magazine input[type="email"]{
	padding:4px;
	width: 350px;
	height:35px;
	font-size:2rem;
	border-radius:5px;
}
#magazine button[type="submit"]{
	height:35px;
	font-size:1.5rem;
	border-radius:5px;
}
#magazine h3{

	float:left;
	color:#ffffff;
	font-size:2.5rem;
	padding:15px;

}


/*display-area*/
#display-area{
	background-color:#232b2b; /*#DBD3C9; */
	height: 650px;
	color:#ffffff;

}
#display-area h2{
	font-size: 3rem ;
}
#display-area p{
	font-size: 1.5rem ;
}



.card{/**flexbox container**/
	display:flex;
	flex-flow:row wrap;
	justify-content: space-around;

	
}
.card-item{/**flex**/
}
	

.card-colour{
	height:350px;
	background-color: #009688;
}

#display-area h4{
	margin:30px;
	color:#ffffff;
	font-size:16px;
	padding-top:22px;
}
#display-area img{

	width:350px;
	height:300px;

}



/*display-area-en*/

footer{
	background-color: #009688;
	height:75px;
	padding:0;
	margin-bottom:0;
}

.grid{

	display:grid;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: 1fr;
	margin:0;
	padding:0;
	height:70px;

}
footer h2{
	width:300px;
	padding:0;
	margin-top: 35px;
	font-size: 2.5rem;
}




#footer-company{
	grid-column:1/span 4;
	color:white;
	font-size: 20px;
	padding:0;
	margin:0;
	align-self:start;

}

#icon-pack{
	grid-column:9/-1;
	margin-top: 20px;
	align-self:start;

}
.icon{

	padding:0px 15px 0px 15px;
	margin:0px;
	float:right;
	font-size:1rem ;
}

@media all and (max-width: 1000px){tabs-land
	
}